<section>
    <h2>Listado de libros</h2>
    <ul>
        {{#each infoLibros}}
            <li>
                <figure>
                    <img src="{{this.img-url}}" alt="{{this.img-alt}}">
                    <figcaption>{{this.title}}</figcaption>
                </figure>
                <article>
                    <p>Precio: {{this.price}} &euro;</p>
                    <p>Stock: {{this.stock}}</p>
                </article>
            </li>
        {{/each}}
    </ul>
</section>